<!-- ////////////// FOOTER ////////////// -->
footer.pt-4
	.container
		.row
			.col-12.col-md
				h3.mb-3 FULLSTACK VIETNAM
				img.mb-2(src="./img/logoneta.png" alt="")
			.col-6.col-md
				h3 Link
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Khóa học FULLSTACK
					li
						a.text-muted(href="#") Khóa học FULLSTACK
					li
						a.text-muted(href="#") Khóa học FULLSTACK
					li
						a.text-muted(href="#") Khóa học FULLSTACK
					li
						a.text-muted(href="#") Khóa học FULLSTACK
					li
						a.text-muted(href="#") Khóa học FULLSTACK
			.col-6.col-md
				h3 &nbsp
				ul.list-unstyled.text-small
					li
						a.text-muted(href="#") Khóa học FULLSTACK
					li
						a.text-muted(href="#") Khóa học FULLSTACK
					li
						a.text-muted(href="#") Khóa học FULLSTACK
					li
						a.text-muted(href="#") Khóa học FULLSTACK
	.ft-bt
		.container
			.row
				.col-6.col-md
					small.d-block.mb-3.text-muted Copyright 2018 by 
						a(href='/') FullStack Vietnam.
				.col-6.col-md
					.form
						input(type="text" placeholder="Email")
						.btn.btn-dark SEND